{% extends "layout.html" %}
{% block title %}Business Search{% endblock %}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

{%block nav%}
<nav id="navbar">
  <ul>
    <a href="index.html" class="navlinks">
      <li class="nav-list-elements">Home</li>
    </a>
    <a href="#findperson" class="navlinks">
      <li class="nav-list-elements">Find a person</li>
    </a>
    <a href="#findbusiness" class="navlinks">
      <li class="nav-list-elements" id="last-nav-element">Find a business</li>
    </a>
  </ul>
</nav>
{%endblock%}

{% block content %}

<body>
  <h1>{{title}}</h1>

  <form method="POST" action="/result" id="business_by_name">
    <label for="name">Search business by name:</label>
    <input class="input" name="name" type="text" placeholder="Search name" id="name">
    {%if message%}
    <p>{{message}}</p>
    {%endif%}
    <button class="button is-info" type="submit">
      Search
    </button>

  </form>

  <form method="POST" action="/business_result" id="business_by_postcode">
    <!-- <label for="postcode">Search for:</label>
    <input class="input" name="category" type="text" placeholder="Category of business" id="category"> -->
    <!-- <label for="postcode">in:</label> -->
    <input class="input" name="postcode" type="text" placeholder="Enter town or postcode" id="location">
    {%if message%}
    <p>{{message}}</p>
    {%endif%}

    <button class="button is-info" type="submit">
      Search
    </button>

  </form>

  <section id="wrong-page">
    <p>Looking for a residential address?</p>
    <p>Head to our <a href="person_search.html">residential search page</a> instead.</p>
  </section>


</body>

{% endblock %}

</html>