{%extends "layout.html"%}
{%block title%} Business Results {%endblock%}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

{%block nav%}
<nav id="navbar">
  <ul>
    <a href="/" class="navlinks">
      <li class="nav-list-elements">Home</li>
    </a>
    <a href="person_search.html" class="navlinks">
      <li class="nav-list-elements">Find a person</li>
    </a>
    <a href="business_search" class="navlinks">
      <li class="nav-list-elements" id="last-nav-element">Find a business</li>
    </a>
  </ul>
</nav>
{%endblock%}


{%block content%}
<section id=business_inputs>

  <div class="column">
    <h3>Business name search</h3>
    <form method="POST" action="/business_results">
      <label for="business_name">Search for:</label>
      <input class="input" name="business_name" type="text" placeholder="business name search " id="business_name">
      {%if message_name%}
      <p>{{message_name}}</p>
      {%endif%}
    </form>
  </div>

  <div class="column">
    <h3>Business Category </h3>
    <form method="POST" action="/businesscategory_results">
      <label for="category">Search for:</label>
      <input class="input" name="category" type="text" placeholder="Category business search " id="category">
      {%if message_category%}
      <p>{{message_category}}</p>
      {%endif%}

    </form>
  </div>

  <div class="column">

    <h3>Postcode search</h3>
    <form method="POST" action="/business_postcode_result">
      <label for="postcode">Search for:</label>
      <input class="input" name="postcode" type="text" placeholder="Postcode business search " id="postcode">
      {%if message_postcode%}
      <p>{{message_postcode}}</p>
      {%endif%}

    </form>
  </div>
</section>

{% endblock %}

</div>
<section id="wrong-page">
  <p>Looking for a residential address?</p>
  <p>Head to our <a href="person_search.html">residential search page</a> instead.</p>
</section>


</html>
