<!DOCTYPE html>
<html lang="en-GB">

{% block head %}

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{%block title%}{%endblock%}</title>
	<link rel="stylesheet" type="text/css" media="screen" href="../static/css/stylesheet.css" />
	<script src="main.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Sarabun:500" rel="stylesheet">
</head>
{% endblock %}

<header>
	<nav id="logobar">
		<ul>
			<li><a href="{{url_for('index')}}"><img src="static/images/logo.png" alt="company logo" /></a></li>
			<li>
				<a href="{{url_for('index')}}">
					<h1>The Phonebook<h1>
				</a>
			</li>
		</ul>
	</nav>
	{%block nav%}
	{%endblock%}
</header>


<!-- <body>
	<header>
		<nav id="logobar">
			<ul>
				<li><a href="{{url_for('index')}}"><img src="static/images/logo.png" alt="company logo" /></a></li>
				<li>
					<a href="{{url_for('index')}}"><h1>The Phonebook<h1></a>
				</li>
			</ul>
		</nav>
	</header> -->


	<main>
		{% block content %}
		{% endblock %}
	</main>
</body>



<footer>
	{% block footer %}
	<p>Phonebook made by Hien & Ellen</p>
	{% endblock %}
</footer>
