{%extends "layout.html"%}
{%block title%} Residential Results {%endblock%}


<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>

{%block nav%}
<nav id="navbar">
  <ul>
    <a href="/" class="navlinks">
      <li class="nav-list-elements">Home</li>
    </a>
    <a href="person_search.html" class="navlinks">
      <li class="nav-list-elements">Find a person</li>
    </a>
    <a href="business_search" class="navlinks">
      <li class="nav-list-elements" id="last-nav-element">Find a business</li>
    </a>
  </ul>
</nav>
{%endblock%}


{%block content%}


<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <table class=dataTable id="people_results">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>Country</th>
          <th>Postcode</th>
          <th>Telephone</th>
          <th>Business Category</th>

        </tr>
      </thead>
      <tbody>
        {% for person in people %}
        <tr>
          <td>{{ person[1] }}</td>
          <td>{{ person[2] }}</td>
          <td>{{ person[3] }}</td>
          <td>{{ person[4] }}</td>
          <td>{{ person[5] }}</td>
          <td>{{ person[6] }}</td>
          <td>{{ person[7] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{%endblock%}

</html>
